<h1>Your Profile</h1>

<h2>Total caught Pokemon: <%= @total_catch_count %></h2>

<%= link_to 'Go to New Encounter', new_encounter_path, class: 'button' %>

<h2>Caught Shiny Pokémon: <%= @shiny_count %> / <%= @total_pokemon %></h2>

<ul>
  <% @caught_shinies.each do |pokemon| %>
    <li class="shiny">
      <div class="pokemon-number">
        <%= pokemon.pokedex_number %>
      </div>
      <div class="pokemon-name">
        <%= pokemon.name %>
      </div>
      <img src="<%= pokemon.shiny_sprite %>" alt="<%= pokemon.name %> Shiny Sprite">
    </li>
  <% end %>
</ul>

<h2>Caught Pokémon: <%= @caught_count %> / <%= @total_pokemon %></h2>

<ul>
  <% @caught_pokemons.each do |pokemon| %>
    <li>
      <div class="pokemon-number">
        <%= pokemon.pokedex_number %>
      </div>
      <div class="pokemon-name">
        <%= pokemon.name %>
      </div>
      <img src="<%= pokemon.sprite %>" alt="<%= pokemon.name %> Sprite">
    </li>
  <% end %>
</ul>