<h1>Your Profile</h1>

<div
  data-controller="autoclicker"
  data-autoclicker-rate-value="<%= current_user.auto_click_rate %>"
  data-autoclicker-user-id-value="<%= current_user.id %>">
</div>

<div
  data-controller="money"
  data-money-rate-value="<%= current_user.earn_rate %>"
  data-money-user-id-value="<%= current_user.id %>"
  data-money-count-value="<%= current_user.catch_count%>">
</div>

<h2>Money: <img class="pokedollar-icon" src="<%= asset_path 'pokedollar.png' %>"><span id="balance"><%= current_user.money %></span></h2>

<h2>Total Pokémon caught: <span id="catch-count"><%= current_user.catch_count %></span></h2>
<p>Pokemon catch rate: <span><%= current_user.auto_click_rate %></span> per second</p>

<%= link_to 'Go to New Encounter', new_encounter_path, class: 'button' %>

<h2>Caught Shiny Pokémon: <%= @shiny_count %> / <%= @total_pokemon %></h2>

<ul>
  <% @caught_shinies.each do |pokemon| %>
    <li class="shiny">
      <div class="pokemon-number">
        <%= pokemon.pokedex_number %>
      </div>
      <div class="pokemon-name">
        <%= pokemon.name %>
      </div>
      <img src="<%= pokemon.shiny_sprite %>" alt="<%= pokemon.name %> Shiny Sprite">
    </li>
  <% end %>
</ul>

<h2>Caught Pokémon: <%= @caught_count %> / <%= @total_pokemon %></h2>

<ul>
  <% @caught_pokemons.each do |pokemon| %>
    <li>
      <div class="pokemon-number">
        <%= pokemon.pokedex_number %>
      </div>
      <div class="pokemon-name">
        <%= pokemon.name %>
      </div>
      <img src="<%= pokemon.sprite %>" alt="<%= pokemon.name %> Sprite">
    </li>
  <% end %>
</ul>