<h1>Your Profile</h1>

<h2>Caught Pokémon: <%= @caught_count %> / <%= @total_pokemon %></h2>

<ul>
  <% @caught_pokemons.each do |pokemon| %>
    <li>
      <%= pokemon.name %> 
      <img src="<%= pokemon.sprite %>" alt="<%= pokemon.name %> Sprite" width="50" height="50">
    </li>
  <% end %>
</ul>

<%= link_to 'Go to New Encounter', new_encounter_path, class: 'button' %>
