<h1>Your Profile</h1>

<%= turbo_frame_tag "stats" do %>
  <%= render "encounters/stats", user: current_user %>
<% end %>

<%= turbo_frame_tag "functions" do %>
      <%= render "encounters/functions", user: current_user %>
    <% end %>

<%= link_to 'Go to New Encounter', new_encounter_path, class: 'button' %>

<h2>Caught Shiny Pokémon: <%= @shiny_count %> / <%= @total_pokemon %></h2>

<ul>
  <% @caught_shinies.each do |pokemon| %>
    <li class="shiny">
      <div class="pokemon-number">
        <%= pokemon.pokedex_number %>
      </div>
      <div class="pokemon-name">
        <%= pokemon.name %>
      </div>
      <img src="<%= pokemon.shiny_sprite %>" alt="<%= pokemon.name %> Shiny Sprite">
    </li>
  <% end %>
</ul>

<h2>Caught Pokémon: <%= @caught_count %> / <%= @total_pokemon %></h2>

<ul>
  <% @caught_pokemons.each do |pokemon| %>
    <li>
      <div class="pokemon-number">
        <%= pokemon.pokedex_number %>
      </div>
      <div class="pokemon-name">
        <%= pokemon.name %>
      </div>
      <img src="<%= pokemon.sprite %>" alt="<%= pokemon.name %> Sprite">
    </li>
  <% end %>
</ul>