<div
  data-controller="autoclicker"
  data-autoclicker-rate-value="<%= user.auto_click_rate %>"
  data-autoclicker-user-id-value="<%= user.id %>">
</div>

<div
  data-controller="money"
  data-money-rate-value="<%= user.earn_rate %>"
  data-money-user-id-value="<%= user.id %>"
  data-money-catch-count-value="<%= user.catch_count%>">
</div>

<% base_cost_trainers = 100 %>
<% next_cost_trainers = (base_cost_trainers * (1.15 ** current_user.trainers)).to_i %>
<% base_cost_berries = 1000 %>
<% next_cost_berries = (base_cost_berries * (1.15 ** current_user.berries)).to_i %>

<div style="display: flex; justify-content: center; gap: 1rem;">
  <div data-controller="trainers">
    <button
      class="upgrade-button"
      data-action="click->trainers#buyTrainer"
      data-trainers-target="button">
      Hire Trainer (Cost: <%= format_number(next_cost_trainers) %>)
    </button>
  </div>

  <div data-controller="berries">
    <button
      class="upgrade-button"
      data-action="click->berries#buyBerry"
      data-berries-target="button">
      Buy Berry (Cost: <%= format_number(next_cost_berries) %>)
    </button>
  </div>
</div>