<h2>Money: <img class="pokedollar-icon" src="<%= asset_path 'pokedollar.png' %>"><%= user.money %></h2>
<p>Trainers: <%= user.trainers %></p>
<p>Pokemon Catch Rate: <%= user.auto_click_rate %></p>
<p>Total Pokémon caught: <%= user.catch_count %></p>