<h1>New Encounter!</h1>

<% if @pokemon %>
  <% if @is_shiny %>
    <p>You encountered a Shiny <%= @pokemon.name %>!</p>
    <img src="<%= @pokemon.shiny_sprite %>" alt="<%= @pokemon.name %> Shiny Sprite" width="150" height="150">
  <% else %>
    <p>You encountered a <%= @pokemon.name %>!</p>
    <img src="<%= @pokemon.sprite %>" alt="<%= @pokemon.name %> Sprite" width="150" height="150">
  <% end %>
  <%= form_with url: encounters_path, method: :post do %>
    <%= hidden_field_tag :pokemon_id, @pokemon.id %>
    <%= hidden_field_tag :shiny, @is_shiny %>
    <%= submit_tag "Catch Pokémon!" %>
  <% end %>

<% else %>
  <p>No Pokémon encountered yet. Try again!</p>
  <%= link_to 'Try Again', new_encounter_path %>
<% end %>

<!-- Add a button to go to the user's profile -->
<%= link_to 'View Profile', profile_path, class: 'button' %>

<%= turbo_frame_tag "stats" do %>
  <%= render "encounters/stats", user: current_user %>
<% end %>

<%= turbo_frame_tag "functions" do %>
  <%= render "encounters/functions", user: current_user %>
<% end %>